/* http://localhost:9080/2425B-ASS3/index.php */

header {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #fccdfcf0;
    border-radius: 40px; 
    padding: 20px; 
}


.login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
}

fieldset {
    border-radius: 10px; 
    border: 2px solid #ccc; 
    padding: 0px; 
    width: 100%; 
    min-width: 350px;
}
legend {
    padding: 0px;
}

.login-form div {
    margin-bottom: 15px;
}

.login-form label {
    margin-bottom: 5px;
    margin-right: 10px;
}

.input-container {
    padding-left: 40px;
    padding-top: 15px;
}

.login-form button {
    background-color: rgba(255, 255, 255, 0.676);
    color: rgb(78, 77, 77);
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
}

.button-container {
    display: flex;
    justify-content: center; 
    align-items: center;   
    padding: 10px;
}

.error {
    color: red;
    background-color: yellow;
    text-align: center;
    margin-top: 10px;
}


.music-container {
    max-width: 1000px;
    margin: 0 auto;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 30%;
    padding: 5px;
    font-size: 0.8em;
    margin-left: 5px;
    border-radius: 15px;
    border: 2px solid #ccc; 
}

.genre-buttons {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around
}

.genre-buttons button {
    width: auto;
    padding: 4px 10px;
}

.music-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.music-item {
    padding: 5px 30px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 100%;
    background-color: rgb(230, 231, 252);
}

.music-controls {
    margin-right: 15px;
}

.music-info {
    display: flex;
    flex-wrap: wrap
}

.one {
    display: flex;
    flex: 40%;
}

.two {
    flex: 10%;
}

.three {
    flex: 20%;
}

.four {
    flex: 30%;
}

.play-btn img, .pause-btn img {
    width: 30px;
    height: 30px;
}


.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

@media (max-width: 1000px) {
    .music-item {
        width: 100%;
    }
}

@media (max-width: 350px) {
    .music-info {
      flex-direction: row;
    }
  }
